### Java ###
*.class
*.log
*.jar
*.war
*.ear

# Build output
target/
**/target/
build/
**/build/

# Generated sources
.generated/
.apt_generated/

### Maven Wrapper ###
.mvn/
!/.mvn/wrapper/maven-wrapper.jar
mvnw
mvnw.cmd

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/

### VS Code ###
.vscode/

### Eclipse ###
.classpath
.project
.settings/

### NetBeans ###
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

### macOS / Windows ###
.DS_Store
Thumbs.db

### Spring Initializr ###
HELP.md

# Log and temp files
*.log
*.tmp
*.swp
*.bak
